services:
  php:
    build:
      context: ./images
      dockerfile: arch-php.Dockerfile
    container_name: neoarch_mirrors_php
    volumes:
      - ./php:/var/www/html:rw
      - ./mirrors:/var/mirrors:rw
      - ./gnupg:/srv/http/.gnupg:rw
    environment:
      - TIMEZONE=${TIMEZONE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
    restart: unless-stopped
    networks:
      - neoarch_net
    user: "0:0"

  nginx:
    image: nginx:stable-alpine
    container_name: neoarch_mirrors_nginx
    depends_on:
      - php
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./php:/var/www/html:ro
      - ./mirrors:/var/mirrors:rw
      - ./nginx/log:/var/log/nginx:rw
    restart: unless-stopped
    networks:
      - neoarch_net

  postgres:
    image: postgres:18-alpine
    container_name: neoarch_mirrors_postgres
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
      - neoarch_pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - neoarch_net

volumes:
  neoarch_pgdata:

networks:
  neoarch_net:
    driver: bridge